spring:
  # H2 Database Configuration
  datasource:
    url: jdbc:h2:mem:devdb
    username: user
    password: 
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  # JPA/Hibernate
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    show-sql: true
  sql:
    init:
      mode: always
